TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial
}
HR {
	COLOR: black; HEIGHT: 1px; BACKGROUND-COLOR: black
}
PRE {
	FONT-SIZE: 12px
}
A {
	FONT-SIZE: 11px; COLOR: #16157b; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f76f0e
}
A.quick {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #16157b; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
A.hormenu {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #a1b4ec; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
A.nav {
	PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #16157b; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
A.vertmenu {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #16157b; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
A.quick:hover {
	COLOR: #f76f0e
}
A.nav:hover {
	COLOR: #f76f0e
}
A.hormenu:hover {
	COLOR: #f76f0e
}
A.vertmenu:hover {
	COLOR: #f76f0e
}
A.act {
	COLOR: #f76f0e
}
A.print {
	COLOR: #000000; TEXT-DECORATION: none
}
A.achtung {
	COLOR: #ff0000; TEXT-DECORATION: none
}
H5 {
	FONT-WEIGHT: bolder; FONT-SIZE: 13px; COLOR: #111195; FONT-FAMILY: verdana, arial
}
H6 {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, arial
}
TR.darkblue {
	BACKGROUND: #111195
}
TR.azure {
	BACKGROUND: #a1b4ec
}
TABLE.vertmenu {
	BACKGROUND: #111195
}
.vertmenu TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; COLOR: white; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.vertmenu TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #c6cee4; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
TD.pagehead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #111195; PADDING-BOTTOM: 3px; COLOR: white; PADDING-TOP: 3px; TEXT-ALIGN: left
}
TABLE.news {
	FONT-SIZE: 10px; BACKGROUND: #111195; TEXT-ALIGN: left
}
.news TH {
	FONT-SIZE: 11px; BACKGROUND: #a1b4ec; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.news TD {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
TABLE.block {
	FONT-SIZE: 10px; BACKGROUND: #ffffff; TEXT-ALIGN: left
}
.block TH {
	FONT-SIZE: 10px; BACKGROUND: #111195; COLOR: white; TEXT-ALIGN: left
}
TABLE.newsblock {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
.newsblock TH {
	FONT-SIZE: 10px; BACKGROUND: #a1b4ec; COLOR: #000000; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.newsblock TD {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.newsblock A {
	FONT-SIZE: 11px
}
TABLE.mainnewsblock {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
.mainnewsblock TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #111195; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.mainnewsblock TD {
	FONT-SIZE: 10px; BACKGROUND: #eaeaea; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.mainnewsblock A {
	FONT-SIZE: 10px
}
TABLE.rssnewsblock {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
.rssnewsblock TH {
	FONT-SIZE: 10px; BACKGROUND: #a1b4ec; COLOR: #000000; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.rssnewsblock TD {
	FONT-SIZE: 10px; BACKGROUND: #eaeaea; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.rssnewsblock A {
	FONT-SIZE: 10px
}
TABLE.faqblock {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
.faqblock TH {
	FONT-SIZE: 10px; BACKGROUND: #a1b4ec; COLOR: #000000; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
.faqblock TD {
	FONT-SIZE: 11px; BACKGROUND: #eaeaea; FONT-FAMILY: verdana, arial; TEXT-ALIGN: left
}
TABLE.subblock {
	FONT-SIZE: 10px; BACKGROUND: #a1b4ec; TEXT-ALIGN: left
}
.subblock TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10px; BACKGROUND: #a1b4ec; PADDING-BOTTOM: 4px; COLOR: #0c136d; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.subblock TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE.tabl {
	FONT-SIZE: 10px; BACKGROUND: #16157b; border-spacing: 1px
}
TABLE.textcenter {
	FONT-SIZE: 10px; BACKGROUND: #16157b; border-spacing: 1px
}
.tabl TH {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #111195; COLOR: white; HEIGHT: 20px; TEXT-ALIGN: center
}
.textcenter TH {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #111195; COLOR: white; HEIGHT: 20px; TEXT-ALIGN: center
}
.tabl TD {
	BACKGROUND: #eaeaea; TEXT-ALIGN: center
}
.textcenter TD {
	BACKGROUND: #eaeaea; TEXT-ALIGN: center
}
TABLE.textleft {
	FONT-SIZE: 10px; BACKGROUND: #16157b; border-spacing: 1px
}
.textleft TH {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #111195; COLOR: #ffffff; HEIGHT: 20px; TEXT-ALIGN: center
}
.textleft TD {
	PADDING-LEFT: 5px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
TABLE.tblleft {
	FONT-SIZE: 10px; BACKGROUND: #111195; border-spacing: 1px
}
.tblleft TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #111195; COLOR: #ffffff; HEIGHT: 20px; TEXT-ALIGN: left
}
.tblleft TD {
	PADDING-LEFT: 10px; BACKGROUND: #eaeaea; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
TD.band {
	PADDING-LEFT: 5px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TD.subband {
	PADDING-RIGHT: 1px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; BACKGROUND: #a1b4ec; PADDING-BOTTOM: 2px; COLOR: #0c136d; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TD.maillist {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; BACKGROUND: #a1b4ec; PADDING-BOTTOM: 5px; COLOR: #111195; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TABLE.mailhead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.inputbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.selectbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.formbutt {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.graybutt {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.info {
	FONT-SIZE: 11px; COLOR: #000099; TEXT-ALIGN: justify
}
