BODY {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; LINE-HEIGHT: 14pt; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
A.Inverted {
	COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
H1 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; LINE-HEIGHT: 14pt; TEXT-ALIGN: center
}
H2 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; LINE-HEIGHT: 12pt; TEXT-ALIGN: center
}
H3 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LINE-HEIGHT: 11pt; TEXT-ALIGN: center
}
H4 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; LINE-HEIGHT: 11pt; TEXT-ALIGN: center
}
P {
	FONT: 10pt sans-serif
}
UL {
	FONT-SIZE: 10pt; LINE-HEIGHT: 12pt
}
UL.ListContinue {
	LIST-STYLE: none
}
OL {
	FONT-SIZE: 10pt; LINE-HEIGHT: 12pt
}
TH {
	FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
TD {
	FONT: 9pt sans-serif
}
STRONG {
	FONT-WEIGHT: bold
}
CODE {
	FONT-FAMILY: mono
}
SUB {
	FONT-SIZE: smaller; VERTICAL-ALIGN: sub
}
SUP {
	FONT-SIZE: smaller; VERTICAL-ALIGN: super
}
.HTMLCode {
	COLOR: #00375c; FONT-FAMILY: mono; FONT-WEIGHT: bold
}
.CodeDiv {
	COLOR: #00375c; FONT-FAMILY: mono; FONT-WEIGHT: bold
}
.CodePre {
	COLOR: #00375c; FONT-FAMILY: mono; FONT-WEIGHT: bold; WHITE-SPACE: pre
}
.CodeSpan {
	COLOR: #00375c; FONT-FAMILY: mono; FONT-WEIGHT: bold
}
.plaintext {
	FONT: 10pt sans-serif
}
.plainbold {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.Symbol {
	FONT-FAMILY: symbol
}
.Greek {
	FONT-FAMILY: symbol
}
.UpperIndex {
	FONT-SIZE: smaller; VERTICAL-ALIGN: super
}
SPAN.EndnoteRef {
	FONT-SIZE: smaller; FONT-WEIGHT: bold; VERTICAL-ALIGN: super
}
A.EndnoteRef {
	FONT-SIZE: smaller; FONT-WEIGHT: bold; TEXT-DECORATION: none; VERTICAL-ALIGN: super
}
P.Separator {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
P.SubHeader {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; TEXT-ALIGN: center
}
P.SuperHeader {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
P.LowerHeading {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-LEFT: 20pt; TEXT-ALIGN: left
}
P.HeadingLow {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-LEFT: 20pt; TEXT-ALIGN: left
}
P.AuthorRef {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; TEXT-ALIGN: right
}
P.StoryBody {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: justify; TEXT-INDENT: 20pt
}
P.StoryIntro {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; TEXT-ALIGN: justify; TEXT-INDENT: 20pt
}
P.StoryCredits {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; MARGIN-LEFT: 20pt; TEXT-ALIGN: justify
}
P.StoryRef {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; TEXT-ALIGN: right
}
P.StoryNote {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; MARGIN-LEFT: 20pt; TEXT-ALIGN: left
}
P.StoryAuthor {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; TEXT-ALIGN: right
}
P.StoryQuote {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; MARGIN-LEFT: 20pt; TEXT-ALIGN: justify
}
P.StoryQuoteRef {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; MARGIN-LEFT: 20pt; TEXT-ALIGN: right
}
P.StoryLyrics {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; TEXT-ALIGN: center
}
P.StoryRemark {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; TEXT-ALIGN: justify
}
P.StoryEpigraph {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3pt; MARGIN-LEFT: 150pt; TEXT-ALIGN: right
}
P.StoryEpigrAuthor {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; FONT-WEIGHT: bold; MARGIN-BOTTOM: 3pt; TEXT-ALIGN: right
}
P.NavBlock {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; MARGIN: 3pt 10pt; TEXT-ALIGN: center
}
H1.Vrezka {
	FONT-FAMILY: sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; LINE-HEIGHT: 11pt; TEXT-ALIGN: left
}
P.VrezkaH1 {
	FONT-FAMILY: sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; LINE-HEIGHT: 11pt; TEXT-ALIGN: left
}
P.VrezkaBody {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; TEXT-ALIGN: justify; TEXT-INDENT: 20pt
}
P.VrezkaAuthor {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; TEXT-ALIGN: right
}
P.BooklistTitle {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; MARGIN-LEFT: 20pt; TEXT-ALIGN: left
}
.BookAuthor {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
.BookTitle {
	FONT-STYLE: italic
}
.PictureText {
	FONT-FAMILY: sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.StoryInlineQuote {
	FONT-STYLE: italic
}
.StoryInlineRemark {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
.StoryInlineHeader {
	FONT-WEIGHT: bold
}
.Strong {
	FONT-WEIGHT: bold
}
.GameTitle {
	COLOR: #7691b3; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.GameAnnot {
	FONT-SIZE: 9pt
}
.GameRef {
	FONT-SIZE: 9pt; MARGIN-TOP: 1pt
}
P.Question {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; MARGIN-BOTTOM: 3pt; TEXT-ALIGN: justify
}
P.Answer {
	FONT-FAMILY: sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: justify
}
TD.GbookMsg {
	FONT-SIZE: 10pt
}
.TableTop {
	COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.qmnd {
	FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.qinfo {
	FONT-WEIGHT: bold
}
iput {
	FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
